
<div class="card w-75 mt-4 ">
  <h3 class="card-header fw-bold text-secondary"><%= @current.username%>'s Created Events</h3>
  <div class="card-body">
     <% @events.each do |e|%>
    <div class="border border-secondary mb-2 rounded-pill p-3">
      <h4>Event: <%= e.description %></h4>
      <h5>Event date: <%= e.event_date %></h5>
    </div>
     <%end%>
  </div>
</div>